.div-card-game {
    background-image: linear-gradient(to bottom, black, greenyellow);
    height: 230px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    top: -10px;
    display: inline-block;
    margin: 20px;
    left: 25px;
    cursor: pointer;
    box-shadow: 5px 2px 5px black;

}
.div-card-game img {
    height: 100px;
    width: 200px;
    border-radius: 10px;
}
.div-card-game p {
    margin: 0;
}
.div-card-game h3 {
    position: relative;
    top: 10px;
    color: #f2f2f2;
}
.div-gen p {
    font-size: 12px;
}
.div-card-game:hover {
    transform: scale(1.10)
}