.div-games {
    position: relative;
    display: inline-block;
    left: 60px;
}
.div-games select {
    height: 40px;
    width: 170px;
    border-radius: 10px;
    border: 3px solid black;
}
.div-games label {
    font-family: cursive;
    font-size: 20px;
}