.pag-nav {
    height: 40px;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    top: 5px;
}
.pag-nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    text-align: center;

}
.pag-nav a {
    position: relative;
    top: 6px;
    cursor: pointer;
    color: greenyellow;
}

.container-number {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #111111;
    border-radius: 50%;
    display: inline-block;
}
.pag-nav li:hover {
    transform: scale(1.15)
}